[submodule "packages/mocha/packages/mocha"]
	path = packages/mocha/packages/mocha
	url = https://github.com/mochajs/mocha.git
[submodule "packages/ahkpp/packages/ahkpp"]
	path = packages/ahkpp/packages/ahkpp
	url = https://github.com/mark-wiemer/vscode-autohotkey-plus-plus.git
[submodule "packages/ahkpp/packages/ahkpp.com"]
	path = packages/ahkpp/packages/ahkpp.com
	url = https://github.com/mark-wiemer/ahkpp.com.git
[submodule "packages/github/pages"]
	path = packages/github/pages
	url = https://github.com/mark-wiemer/hello-github-pages
[submodule "packages/modrinth/code"]
	path = packages/modrinth/code
	url = https://github.com/mark-wiemer/modrinth-code
[submodule "packages/mocha/packages/issue-5708"]
	path = packages/mocha/packages/issue-5708
	url = https://github.com/mark-wiemer/mocha-issue-5708
