[submodule "packages/mocha/packages/mocha"]
	path = packages/mocha/packages/mocha
	url = https://github.com/mochajs/mocha.git
[submodule "packages/ahkpp/packages/ahkpp"]
	path = packages/ahkpp/packages/ahkpp
	url = https://github.com/mark-wiemer/vscode-autohotkey-plus-plus.git
[submodule "packages/ahkpp/packages/ahkpp.com"]
	path = packages/ahkpp/packages/ahkpp.com
	url = https://github.com/mark-wiemer/ahkpp.com.git
[submodule "packages/github/pages"]
	path = packages/github/pages
	url = https://github.com/mark-wiemer/hello-github-pages
[submodule "packages/mocha/packages/issue-5599"]
	path = packages/mocha/packages/issue-5599
	url = https://github.com/mark-wiemer/mocha-issue-5599
[submodule "packages/modrinth/nml"]
	path = packages/modrinth/nml
	url = https://github.com/mark-wiemer/nerds-minecraft-launcher
[submodule "packages/mocha/packages/personal-mocha"]
	path = packages/mocha/packages/personal-mocha
	url = https://github.com/mark-wiemer/mocha
[submodule "packages/luanti/docs.luanti.org"]
	path = packages/luanti/docs.luanti.org
	url = https://github.com/luanti-org/docs.luanti.org.git
