/* Meta info section: Left panel of main menu */
.hero-static {
  /* Main section */
  > div:nth-of-type(1) > div {
    /* Hide "A game by Malcs" text */
    > h5:nth-of-type(1) {
      display: none;
    }

    /* Hide Patreon badge */
    > h3:nth-of-type(1) {
      display: none;
    }

    /* Hide version number */
    > h5:nth-of-type(2) {
      display: none;
    }

    /* Hide Melvor Idle 2 promo */
    > div:nth-of-type(2) {
      display: none;
    }

    /* Hide "also available on" and "your save is compatible" card */
    > div:nth-of-type(3) {
      display: none;
    }

    /* Hide Discord link */
    > div:nth-of-type(4) {
      display: none;
    }

    /* Hide platform syncs and expansions list */
    > div:nth-of-type(5) {
      display: none;
    }
  }
}

/* Main section */
.hero-alt {
  /* Inner main section (siblings are errs, etc.) */
  > div:nth-of-type(5) {
    /* Character select */
    > div:nth-of-type(2) {
      /* Header */
      > div:nth-of-type(1) {
        /* Local backup reminder */
        h5 {
          display: none;
        }
      }
    }
  }
}
