/* Left panel of main menu */
.hero-static {
  /* Main section */
  > div:nth-of-type(1) > div {
    /* Hide platform syncs and expansions list */
    > div:nth-of-type(5) {
      display: none;
    }
  }
}
