.resume {
  margin: 0 auto;
  max-width: 960px;
  @media (max-width: 960px) {
    /* Adjust vertical padding as well, generally "cozier" view */
    padding: 4px;
    max-width: calc(100vw - 24px);
  }
}

#colophon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 2px;
}

p {
  margin: 2px;
}

ul {
  margin: 2px;
}
