name: Handle stale issues and PRs

on:
  schedule:
    # https://crontab.guru/
    # Midnight UTC daily (4 or 5 PM Pacific)
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      # https://github.com/actions/stale
      - uses: actions/stale@v10
        with:
          days-before-stale: 1 # one day for testing
          days-before-close: 1 # one day for testing
          stale-issue-message: "This issue has not had activity for a while, and will be closed soon if there is no further activity"
          stale-pr-message: "This PR has not had activity for a while, and will be closed soon if there is no further activity"
          stale-issue-label: "stale"
          stale-pr-label: "stale"
